@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.header-icons ul li a {
    color: white;
}

.header {
    background: #004D85;
}

.header .header_mid ul li:hover {
    color: orange;
}

.header .header-icons ul li a:hover {
    color: orange;
}

.header .first_content ul li:hover {
    color: orange;
}