.footer-section {
    background-color: #0b1e33;
    /* Dark blue background color */
    color: #ffffff;
    /* White text color */
    padding-top: 40px !important;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    color: #FFA801;
    /* Orange color for titles */
    margin-bottom: 15px;
}

.footer-column {
    margin-bottom: 30px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-list li a:hover {
    color: #FFA801;
}

.footer-contact-info {
    list-style: none;
    padding: 0;
}

.footer-contact-info li {
    margin-bottom: 15px;
}

.payment-methods {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.payment-icon {
    width: 50px;
    height: auto;
}

.bottom-footer-section {
    padding: 20px 0;
    color: #ffffff;
}

.bottom-footer-section p {
    color: #ffffff;
    margin: 0;
    font-size: 14px;
}

.footer-link {
    color: #FFA801;
    /* Orange color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.social-icon {
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #FFA801;
}

@media (max-width: 768px) {
    .footer-section {
        text-align: center;
    }
    .bottom-footer-section {
        text-align: center;
    }
    .social-icons {
        justify-content: center;
        margin-top: 10px;
    }
    .footer-column {
        text-align: center;
    }
    .payment-methods {
        justify-content: center;
    }
    .footer .footer-title {
        font-size: 16px;
    }
    .footer-list li {
        margin-bottom: 8px;
    }
    .payment-icon {
        width: 40px;
        /* Smaller icon size for smaller screens */
    }
    .bottom-footer-section {
        padding: 15px 0;
    }
    .social-icons {
        justify-content: center;
        margin-top: 10px;
    }
}